
.vs/Sabirzyanov_Laba0/v17/.wsuo
.vs/ProjectSettings.json
.vs/Sabirzyanov_Laba0/FileContentIndex/216eb121-142e-44f4-bb40-9289aa01faf7.vsidx
.vs/Sabirzyanov_Laba0/FileContentIndex/1ebd2c0f-1504-420b-8439-7360f55ab479.vsidx
.vs/Sabirzyanov_Laba0/FileContentIndex/3478fd07-06c7-4c35-a489-a8b744d27d22.vsidx
.vs/Sabirzyanov_Laba0/FileContentIndex/950073a1-3f41-4e94-83e9-3c161ac338b4.vsidx
.vs/Sabirzyanov_Laba0/FileContentIndex/88fdfacf-b034-4e55-a5f4-e3b10be1774b.vsidx
.vs/Sabirzyanov_Laba0/FileContentIndex/e425180a-7b8e-4ff4-991c-eeac4bb6d2fe.vsidx
.vs/Sabirzyanov_Laba0/FileContentIndex/8cf1d93b-3e2a-49f7-bb1a-d8ee4fdc963d.vsidx
.vs/Sabirzyanov_Laba0/v17/Browse.VC.db
.vs/Sabirzyanov_Laba0/FileContentIndex/47312aba-0382-43ef-b294-e642e228343b.vsidx
/.vs
